.container {
  text-align: center;
}

.spin-button {
  text-align: center;
}

.fruits {
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
}

.row1 {
  display: inline-block;
}

.notifications {
  text-align: center;
}

.images {
  display: block;
}


.jSlots-wrapper {
    overflow: hidden; /* to hide the magic */
    height: 20px; /* whatever the height of your list items are */
    display: inline-block; /* to size width correctly, can use float too, or width*/
    border: 1px solid #999;
}
